/* font 사이즈의 크기는 pc 환경에서 14px를 모바일 환경에서 16px로 고정한다. */
/*html {*/
/*    font-size: 14px;*/

/*    @media (min-width: 768px) {*/
/*        font-size: 16px;*/
/*    }*/
/*}*/
body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #FFFFFF;
}

.login-text {
    font-size: 19px;
    /*font-weight: bold;*/
}

.login-box a {
    text-decoration: none;
    color: #000;
    text-align: center;
    display: block;
    margin-top: 15px;
}

.login-box a:hover {
    color: blue; /* 파란색으로 변경 */
}

.login-box {
    width: 400px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18.1px 2px rgba(0, 0, 0, 0.25);
}

.login-box h2 {
    margin-bottom: 20px;
    text-align: center;
}

.login-box label {
    display: block;
    margin-bottom: 5px;
}

.login-box .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 20px;
}

.login-box .input-container label {
    width: 80px;
}

.login-box input {
    width: calc(100% - 80px);
    padding: 10px;
    box-sizing: border-box;
}

.login-box input[type="submit"] {
    background: #4CAF50;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    width: calc(100% / 3); /* 1/3 크기 */
    border-radius: 10px; /* 둥근 모서리 */
    margin-left: calc(100% / 3); /* 왼쪽 여백 조절 */
}

.login-box input[type="submit"]:hover {
    background: #45a049;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #FFFFFF;
}

.register-box {
    width: 400px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18.1px 2px rgba(0, 0, 0, 0.25);
}

.register-box h2 {
    margin-bottom: 20px;
    text-align: center;
}

.register-box label {
    display: block;
    margin-bottom: 5px;
}

.register-box .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.register-box .input-container label {
    width: 160px;
    font-weight: bold;
}

.register-box input {
    width: calc(100% - 150px);
    padding: 10px;
    box-sizing: border-box;
    margin-left: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.register-box input[type="submit"] {
    background: #4CAF50;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    width: 70%;
    display: block;
    float : right;
    margin-top: 15px;
    border-radius: 5px;
}

.verify-button {
    background: #2196F3;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 200px;
    width: calc(100%);
}