.playball-regular {
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
}

.menu {
    display: flex;
    /*flex-direction: column; !* 세로 방향으로 나열 *!*/
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 20px; /* 좌우 padding 조정 */
    background: #FFFFFF;
    box-shadow: 0px 4px 18.1px 2px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    /*margin: 15px 20px; !* 상하 margin, 좌우 margin 조정 *!*/
    font-size: 2vw;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu-item {
    display: flex;
    cursor: pointer;
    font-size: 2vw;
    margin: 0 10px; /* 좌우 margin 추가 */
}
.menu-item:hover {
    /*color: #ff5733; !* 텍스트 색상 변경 *!*/
    background-color: #f5f5f5; /* 배경색 변경 */
    transition: 0.3s; /* 부드러운 전환 효과 추가 */
    font-weight: bold;
}
@media screen and (max-width: 600px) {
    .menu-item {
        display: flex;
    }
}